<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class=" container-fluid">
    <div class=" navbar-wrapper">
      <div class=" navbar-toggle d-inline">
        <button class=" navbar-toggler" type="button">
          <span class=" navbar-toggler-bar bar1"></span>
          <span class=" navbar-toggler-bar bar2"></span>
          <span class=" navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class=" navbar-brand" [routerLink]="[ '/register' ]"> S'inscrire
      </a>
    </div>
    <button aria-label="Toggle navigation" class=" navbar-toggler" id="navigation" type="button">
      <span class=" navbar-toggler-bar navbar-kebab"></span>
      <span class=" navbar-toggler-bar navbar-kebab"></span>
      <span class=" navbar-togler-bar navbar-kebab"></span></button>
    <div class="navbar-collapse collapse" id="navigation" aria-expanded="false" style="display: none;">
      <ul class=" navbar-nav ml-auto">
        <li class=" nav-item"><a class=" nav-link" [routerLink]="[ '/register' ]"><i class=" tim-icons icon-laptop"></i>
            S'inscrire
          </a>
        </li>
        <li class=" nav-item">
          <a class=" nav-link" [routerLink]="[ '/login' ]">
            <i class=" tim-icons icon-single-02"></i> Connexion </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="full-page login-page ">
  <div class=" content">
    <div class=" container">
      <div class=" col-md-12">
        <form class=" form-horizontal" [formGroup]="registerForm" (ngSubmit)="register()">
          <div class=" card card-login card-white">
            <div class=" card-header">
              <h1 class=" card-title">S'inscrire</h1>
            </div>
            <div class=" card-body">
              <h4 class="text-red my-3 font-weight-bold"> Salle de sport
              </h4>
              <hr>
              <div class="row">
                <div class="form-group has-label  col-md-4"><label> Nom de Salle </label>
                  <input type="text" formControlName="nomSalle" placeholder="Nom de Salle" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.nomSalle.errors }" />
                  <div *ngIf="submitted && f.nomSalle.errors" class="invalid-feedback">
                    <div *ngIf="f.nomSalle.errors.required">Le nom de Salle est obligatoire</div>
                    </div>
                </div>
               
                <div class="form-group has-label  col-md-4"><label> Addresse </label>
                  <input
                    class="form-control ng-untouched ng-pristine ng-invalid" formControlName="adresseSalle"
                    name="adresseSalle" required="" type="text">
                </div>
                <div class="form-group has-label  col-md-4"><label> Url Facebook </label><input
                    class="form-control ng-untouched ng-pristine ng-invalid" formControlName="urlFacebookSalle"
                    name="urlFacebookSalle" required="" type="url">
                </div>
                <div class="form-group has-label  col-md-4"><label> Jour de congé
                  </label>
                  <select class="custom-select  text-black" formControlName="jourConge"  
                  [ngClass]="{ 'is-invalid': submitted && f.nomSalle.errors }" >
                    <option value="lundi">Lundi</option>
                    <option value="mardi">Mardi</option>
                    <option value="mercredi">Mercredi</option>
                    <option value="jeudi">Jeudi</option>
                    <option value="vendredi">Vendredi</option>
                    <option value="samedi">Samedi</option>
                    <option value="dimanche">Dimanche</option>
                  </select>
                  <div *ngIf="submitted && f.jourConge.errors" class="invalid-feedback">
                    <div *ngIf="f.jourConge.errors.required">Le Jour de congé est obligatoire</div>
                    </div>
                </div>
                <div class="form-group has-label  col-md-4"><label> code fiscal </label><input
                    class="form-control ng-untouched ng-pristine ng-invalid" formControlName="codeFiscal"
                    [ngClass]="{ 'is-invalid': submitted && f.codeFiscal.errors }"
                    name="codeFiscal" required="" type="text">
                    <div *ngIf="submitted && f.codeFiscal.errors" class="invalid-feedback">
                      <div *ngIf="f.codeFiscal.errors.required">Le code fiscal est obligatoire</div>
                      </div>
                </div>

                <div class="form-group has-label  col-md-5"><label> La description </label>
                  <textarea formControlName="description" class=" form-control" name="description" id="" cols="30"
                    rows="10"></textarea>
                </div>
                <div class="form-group has-label  col-md-7"><label> Logo </label>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group " style="margin-top: 40px;">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" (change)="selectFile($event)"
                          [ngClass]="{ 'is-invalid': submitted && !urlSalle }"
                            id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                          <div *ngIf="submitted && !urlSalle" class="invalid-feedback " style="margin-top: 4rem !important;">
                            <div *ngIf="submitted && !urlSalle">Logo est obligatoire</div>
                            </div>
                        </div>
                        
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="image">
                        <img [src]="urlSalle" *ngIf="urlSalle">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" card-body">
              <h4 class="text-red my-3 font-weight-bold"> Directeur
              </h4>
              <hr>
              <div class="row">
                <div class="form-group has-label  col-md-4"><label> Prénom
                  </label>
                  <input class="form-control" formControlName="firstname"
                    name="firstname" required="" type="text" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
                    <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                      <div *ngIf="f.firstname.errors.required">Le Prénom est obligatoire</div>
                      </div>
                </div>
                <div class="form-group has-label  col-md-4"><label>Nom </label><input
                    class="form-control" formControlName="lastname" name="lastname"
                    [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"
                    required="" type="text">
                    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                      <div *ngIf="f.lastname.errors.required">Le Nom est obligatoire</div>
                      </div>
                </div>
                <div class="form-group has-label  col-md-4"><label> N° Telephone </label><input
                    class="form-control" formControlName="numroTel" name="numroTel"
                    [ngClass]="{ 'is-invalid': submitted && f.numroTel.errors }"
                    required="" type="text">
                    <div *ngIf="submitted && f.numroTel.errors" class="invalid-feedback">
                      <div *ngIf="f.numroTel.errors.required">Le Nom est obligatoire</div>
                      </div>
                </div>
                <div class="form-group has-label  col-md-4"><label> Address
                  </label><input class="form-control ng-untouched ng-pristine ng-invalid"
                  formControlName="addressDirector" name="address" required="" type="text">
                </div>
                <div class="form-group has-label  col-md-4"><label> Email </label><input
                    class="form-control " formControlName="emailDirector"
                    name="emailDirector" required="" type="email"
                    [ngClass]="{ 'is-invalid': submitted && f.emailDirector.errors }">
                    <div *ngIf="submitted && f.emailDirector.errors" class="invalid-feedback">
                      <div *ngIf="f.emailDirector.errors.required">L'email est obligatoire</div>
                      <div *ngIf="f.emailDirector.errors.email">L'email doit être une adresse e-mail valide
                      </div>
                  </div>
                      
                </div>
                <div class="form-group has-label  col-md-4"><label> Mot de passe </label><input
                    class="form-control ng-untouched ng-pristine ng-invalid" formControlName="passwordDirector"
                    name="passwordDirector" required="" type="password"
                    [ngClass]="{ 'is-invalid': submitted && f.passwordDirector.errors }">
                    <div *ngIf="submitted && f.passwordDirector.errors" class="invalid-feedback">
                      <div *ngIf="f.passwordDirector.errors.required">Le Mot de passe est obligatoire</div>
                      </div>
                </div>
                <div class="form-group has-label  col-md-6"><label> Photo </label>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group ">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" (change)="selectFilePreview($event)"
                            id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <img [src]="urlDirector" *ngIf="urlDirector">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" card-body">
              <h4 class="text-red my-3 font-weight-bold"> Offres
              </h4>
              <hr>
              <div class="row">
                <div class="form-group has-label  col-md-4"><label> Type d'offre </label>
                  <select class="custom-select  text-black" [(ngModel)]="offreId" formControlName="offreId"
                  [ngClass]="{ 'is-invalid': submitted && f.offreId.errors }"
                   (change)="onChange($event.target.value)">
                    <option [value]="off.id" *ngFor="let off of offreList"> <span class="spanName">{{off.name}} :</span>
                      {{off.duration}} {{getUnit(off.unit)}} / {{off.price}} DT</option>
                  </select>
                  <div *ngIf="submitted && f.offreId.errors" class="invalid-feedback">
                    <div *ngIf="f.offreId.errors.required">Choisir un type d'offre</div>
                    </div>
                </div>

                <div class="form-group has-label  col-md-6"><label> Reçu de paiement </label>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group ">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" (change)="selectFilePrevStyle($event)"
                          [ngClass]="{ 'is-invalid': submitted && !urlpayment_receipt }"
                            id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                          <div *ngIf="submitted && !urlpayment_receipt" class="invalid-feedback " style="margin-top: 4rem !important;">
                            <div *ngIf="submitted && !urlpayment_receipt">Reçu de paiement est obligatoire</div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <img [src]="urlpayment_receipt" *ngIf="urlpayment_receipt">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" card-footer mt-5">
              <button class=" btn btn-success btn-lg btn-block mb-3"> S'inscrire </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
