
  .form-password {
    position: relative;
    i {
        position: absolute;
        right: 15px;
        top: 39px;
        color: #979797;
    }
  }

  .form-control {
    color: #fff !important;
    border-color: #fff !important;
    &:hover , &:focus {
        color: #fff !important;

    }
}

.card label {
    color: rgb(255 255 255 / 61%) !important;
}
 