
<div class=" content">
    <div class="card-static mb-4">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-stats mb-4 mb-lg-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-capitalize text-danger mb-0">Nombre de salle de sport</h5>
                  <span class="h2 font-weight-bold mb-0 text-white">{{CardsAdmin?.count_gyms}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-stats mb-4 mb-lg-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-capitalize text-warning mb-0">Nombre de directeurs</h5>
                <span class="h2 font-weight-bold mb-0 text-white">{{CardsAdmin?.count_managers}}</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                  <i class="fas fa-chart-bar"></i>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-stats mb-4 mb-lg-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-capitalize text-info mb-0">Nombre des inscriptions total   </h5>
              <span class="h2 font-weight-bold mb-0 text-white">{{CardsAdmin?.count_subscriptions}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                <i class="fas fa-chart-bar"></i>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-stats mb-4 mb-lg-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-capitalize text-success mb-0">Nombre des offers &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; </h5>
            <span class="h2 font-weight-bold mb-0 text-white">{{CardsAdmin?.count_offers}}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-success text-white rounded-circle shadow">
              <i class="fas fa-chart-bar"></i>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
    </div>

  </div>
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Nombre d'inscription par jour</h5>
              <h2 class=" card-title">Le mois actuel</h2>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <canvas baseChart width="400" height="200"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">les bénéfices de cet année</h5>
              <h2 class=" card-title">2020/2021 </h2>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <canvas baseChart width="400" height="200"
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [colors]="barChartColors"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>


  <div class=" row">
    <div class=" col-lg-12 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title"> les 5 dernières inscriptions</h4>
          <table class="table">
            <thead>
            <tr >
              <th>Id</th>
              <th>logo</th>
              <th>Nom  Gym</th>
              <th>Durée</th>
              <th>Nom offre</th>
              <th>Date de depart</th>
              <th>Date de fin</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subscrription of ListSubscriptionGymLast" >
              <td>{{subscrription.id}}</td>
              <td><img [src]="getlogo(subscrription.gym.logo)" height="50px" style="border-radius: 50%"> </td>
              <td>{{subscrription.gym.name}}</td>
              <td>{{subscrription.offer.duration}}  {{getUnit(subscrription.offer.unit)}}</td>
              <td>{{subscrription.offer.name}}</td>
              <td>{{subscrription.start_at|date}}</td>
              <td>{{subscrription.end_at|date}}</td>
              <td><span class="badge"
                        [ngClass]="{'badge-danger': subscrription.status == 'refuser' , 'badge-success': subscrription.status == 'terminer' , 'badge-warning': subscrription.status == 'en attente'  }">{{subscrription.status}}</span>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class=" row">
    <div class=" col-lg-12 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title"> les 5 plus proche de fini inscriptions</h4>
          <table class="table">
            <thead>
            <tr >
              <th>Id</th>
              <th>logo</th>
              <th>Nom  Gym</th>
              <th>Durée</th>
              <th>Nom offre</th>
              <th>Date de depart</th>
              <th>Date de fin</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subscrription of ListSubscriptionGymFirst" >
              <td>{{subscrription.id}}</td>
              <td><img [src]="getlogo(subscrription.gym.logo)" height="50px" style="border-radius: 50%"> </td>
              <td>{{subscrription.gym.name}}</td>
              <td>{{subscrription.offer.duration}}  {{getUnit(subscrription.offer.unit)}}</td>
              <td>{{subscrription.offer.name}}</td>
              <td>{{subscrription.start_at|date}}</td>
              <td>{{subscrription.end_at|date}}</td>
              <td><span class="badge"
                        [ngClass]="{'badge-danger': subscrription.status == 'refuser' , 'badge-success': subscrription.status == 'terminer' , 'badge-warning': subscrription.status == 'en attente'  }">{{subscrription.status}}</span>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>
