




<div class=" content">


  <div class=" row">

    <div class=" col-lg-12 col-md-12">

      <div class=" card">
        <div class=" card-header">
          <div  class="d-flex justify-content-between">
            <div class="d-flex flex-row">
              <h4 class=" card-title mr-4">Liste des employés</h4>
              <div ngbDropdown>
                <a class="btn btn-role btn-sm" id="dropdownBasic2" ngbDropdownToggle>Coach/Receptioniste</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                  <button ngbDropdownItem (click)="getlistWithRole('coach')">Coach</button>
                  <button ngbDropdownItem (click)="getlistWithRole('secretary')">Receptioniste</button>
                </div>
              </div>
            </div>
          
            <a class="btn btn-success" style="float: right" routerLink="/manager/employees/add">Ajouter</a>
          </div>
          <hr>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Photo</th>
              <th scope="col">Nom Prenom</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
              <th scope="col">Status</th>
              <th scope="col">Nom de salle de sport</th>
              <th scope="col">Bloquer</th>
            </tr>
            </thead>
            <tbody>
            <tr   *ngFor="let mang of listEmploye | paginate: config">
              <th scope="row">{{mang.id}}</th>
              <td><img [src]=" getImage( mang.photo) " height="50px" style="border-radius: 50%"> </td>
              <td>{{mang.first_name}} {{mang.last_name}}   </td>
              <td>{{mang.email}}</td>
              <td>{{mang.role}}</td>
              <td><span class="badge"
                [ngClass]="{'badge-danger': !mang.status , 'badge-success': mang.status}">{{getStatus(mang.status)}}</span>
            </td>
              <td>{{mang.gym.name}}</td>
              <td>
                <ng-toggle placement="top" ngbTooltip="Bloquer/Débloquer"
                (change)="changeStatus(mang.id,mang.status)"	
                [(ngModel)]="mang.status"
                [disabled]="configg.disabled"
                [width]="configg.width"
                [height]="configg.height"
                [margin]="configg.margin"
                [labels]="configg.labels"
                [color]="configg.color"
                [switchColor]="configg.switchColor"
                [fontColor]="configg.fontColor"
                [fontSize]="configg.fontSize"
              ></ng-toggle>
              <a  class="icon icon-shape bg-success text-white rounded-circle shadow mx-4" [routerLink]="[ 'edit', mang.id ]">
                <i class="fas fa-edit"></i>
              </a>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row d-flex justify-content-end  mt-5 mb-2 mr-5">
            <pagination-template #p="paginationApi" [id]="config.id" (click)="getPage(config.currentPage)"
              (pageChange)="config.currentPage = $event">
              <div class="custom-pagination">
                <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                  <span *ngIf="!p.isFirstPage()" (click)="p.previous()">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                  </span>
                </div>
                <ul class="pager">
                  <li class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                    <span (click)="p.setCurrent(page.value)"
                      *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                    <div *ngIf="p.getCurrent() === page.value">
                      <span>{{ page.label }}</span>
                    </div>
                  </li>
                </ul>

                <div class="pagination-next" [class.disabled]="p.isLastPage()">
                  <span *ngIf="!p.isLastPage()" (click)="p.next()"> <i class="fa fa-caret-right" aria-hidden="true"></i>
                  </span>
                </div>
              </div>

            </pagination-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




