<div class=" content">


  <div class=" row">

    <div class=" col-lg-12 col-md-12">

      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Liste des offers</h4>
          <hr>
          <a class="btn btn-success mb-4" style="float: right" (click)="open(content)">Ajouter</a>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Durée</th>
                <th scope="col">Statut</th>
                <th scope="col">Prix</th>
                <th scope="col">Date de creation</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let offer of allOffers | paginate: config">
                <th scope="row" class="text-uppercase text-warning">{{offer.name}}</th>
                <td>{{offer.duration}} {{getUnit(offer.unit)}}</td>
                <td><span class="badge"
                    [ngClass]="{'badge-danger': !offer.status , 'badge-success': offer.status}">{{getStatus(offer.status)}}</span>
                </td>
                <td>{{offer.price}} Dt</td>
                <td>{{getDate(offer.created_at)}}</td>
                <td>
                  <ng-toggle placement="top" ngbTooltip="Bloquer/Débloquer"
                  (change)="changeStatus(activity.id,offer.status)"	
                  [(ngModel)]="offer.status"
                  [disabled]="configg.disabled"
                  [width]="configg.width"
                  [height]="configg.height"
                  [margin]="configg.margin"
                  [labels]="configg.labels"
                  [color]="configg.color"
                  [switchColor]="configg.switchColor"
                  [fontColor]="configg.fontColor"
                  [fontSize]="configg.fontSize"
                ></ng-toggle>
                  
                  <button placement="top" ngbTooltip="modifier" class="icon icon-shape bg-success text-white rounded-circle shadow mx-4" (click)="open(contentt , offer)">
                    <i class="fas fa-edit"></i>
                  </button>
                </td>

              </tr>
              <tr *ngIf="allOffers.length===0 ">
                <td colspan="6">
                  <div class=" justify-content-start align-items-start " style="text-align: center; ">
                    <h5 class="mb-0 "> aucune données </h5>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
          <div class="row d-flex justify-content-end  mt-5 mb-2 mr-5">
            <pagination-template #p="paginationApi" [id]="config.id" (click)="getPage(config.currentPage)"
              (pageChange)="config.currentPage = $event">
              <div class="custom-pagination">
                <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                  <span *ngIf="!p.isFirstPage()" (click)="p.previous()">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                  </span>
                </div>
                <ul class="pager">
                  <li class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                    <span (click)="p.setCurrent(page.value)"
                      *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                    <div *ngIf="p.getCurrent() === page.value">
                      <span>{{ page.label }}</span>
                    </div>
                  </li>
                </ul>

                <div class="pagination-next" [class.disabled]="p.isLastPage()">
                  <span *ngIf="!p.isLastPage()" (click)="p.next()"> <i class="fa fa-caret-right" aria-hidden="true"></i>
                  </span>
                </div>
              </div>

            </pagination-template>
          </div>
        </div>
      </div>
    </div>


    <!-- add offre -->

    <ng-template #content let-modal>
      <div class="modal-header">
        <h3 style="font-weight: bold;" class="modal-title  " id="modal-basic-title">Ajouter une nouvelle offre</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="offreForm" (ngSubmit)="addOffre()">

          <div class="row">

            <div class="form-group has-label  col-md-6"><label> Nom
              </label>
              <input type="text" formControlName="name" placeholder="Nom" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Le Nom est obligatoire</div>
              </div>
            </div>

            <div class="form-group has-label  col-md-6"><label> Prix
              </label>
              <input type="number" formControlName="price" placeholder="prix" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
              <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                <div *ngIf="f.price.errors.required">Le prix est obligatoire</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group has-label  col-md-6"><label> Unitée
              </label>

              <select class="custom-select  text-black"  formControlName="unit"
                [ngClass]="{ 'is-invalid': submitted && f.unit.errors }" >
                <option value="day">Jours</option>
                <option value="month">Mois</option>
                <option value="year">Année</option>
              </select>
              <div *ngIf="submitted && f.unit.errors" class="invalid-feedback">
                <div *ngIf="f.unit.errors.required">L'Unitée est obligatoire</div>
              </div>
            </div>
            <div class="form-group has-label  col-md-6"><label> Durée
              </label>
              <input type="number" formControlName="duration" placeholder="Durée" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.duration.errors }" />
              <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                <div *ngIf="f.duration.errors.required">La Durée est obligatoire</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark text-white mx-2"
              (click)="modal.dismiss('Cross click')">Annuler</button>
            <button type="button" type="submit" class="btn btn-success ">Ajouter</button>
          </div>
        </form>
      </div>

    </ng-template>


    <!-- Update Offre-->
    <ng-template #contentt let-modal>
      <div class="modal-header">
        <h3 style="font-weight: bold;" class="modal-title  " id="modal-basic-title">Modifier l'offre : <strong>{{offreUpdated.name}}</strong></h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="offreForm" (ngSubmit)="UpdateOffre()">

          <div class="row">

            <div class="form-group has-label  col-md-6"><label> Nom
              </label>
              <input type="text" [(ngModel)]="offreUpdated.name" formControlName="name" placeholder="Nom" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Le Nom est obligatoire</div>
              </div>
            </div>

            <div class="form-group has-label  col-md-6"><label> Prix
              </label>
              <input type="number"  [(ngModel)]="offreUpdated.price" formControlName="price" placeholder="prix" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
              <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                <div *ngIf="f.price.errors.required">Le prix est obligatoire</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group has-label  col-md-6"><label> Unitée
              </label>

              <select class="custom-select  text-black" [(ngModel)]="offreUpdated.unit" formControlName="unit"
                [ngClass]="{ 'is-invalid': submitted && f.unit.errors }" (change)="onChange($event.target.value)">
                <option value="day">Jours</option>
                <option value="month">Mois</option>
                <option value="year">Année</option>
              </select>
              <div *ngIf="submitted && f.unit.errors" class="invalid-feedback">
                <div *ngIf="f.unit.errors.required">L'Unitée est obligatoire</div>
              </div>
            </div>
            <div class="form-group has-label  col-md-6"><label> Durée
              </label>
              <input type="number"  [(ngModel)]="offreUpdated.duration" formControlName="duration" placeholder="Durée" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.duration.errors }" />
              <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                <div *ngIf="f.duration.errors.required">La Durée est obligatoire</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark text-white mx-2"
              (click)="modal.dismiss('Cross click')">Annuler</button>
            <button type="button" type="submit" class="btn btn-warning ">Modifier</button>
          </div>
        </form>
      </div>

    </ng-template>

    
  </div>
