
<div class=" content">


  <div class=" row">

    <div class=" col-lg-12 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Liste des salles de sport</h4>
          <hr>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nom de salle de sport</th>
              <th scope="col">Nom de directeur</th>
              <th scope="col">Email de directeur</th>
              <th scope="col">telephone de directeur</th>
              <th scope="col">logo de salle</th>
              <!-- <th scope="col">action</th> -->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gym of allManagers" >
              <th scope="row">{{gym.gym_id}}</th>
              <td>{{gym.gym.name}}</td>
              <td>{{gym.first_name}} {{gym.last_name}}    </td>
              <td>{{gym.email}}</td>
              <td>{{gym.phone}}</td>
              <td><img  [src]="gym.gym.logo ? gym.gym.logo : './assets/img/fitness-2.png'" height="50px"> </td>
              <!-- <td>
                <a class="btn btn-danger btn-sm mx-2"> <i class=" tim-icons icon-simple-delete"> </i></a>
                <a class="btn btn-primary btn-sm" routerLink="/admin/gyms/1"> <i class="icon-bullet-list-67"> </i></a>
              </td> -->
            </tr>
          
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

