
<div class=" content">


  <div class=" row">

    <div class=" col-lg-12 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Liste des salles de sport</h4>
          <hr>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nom de salle de sport</th>
              <th scope="col">Nom de directeur</th>
              <th scope="col">Email de directeur</th>
              <th scope="col">telephone de directeur</th>
              <th scope="col">logo de salle</th>
              <!-- <th scope="col">action</th> -->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gyggm of allManagers | paginate: config" >
              <th scope="row">{{gyggm.gym.id}}</th>
              <td>{{gyggm.gym.name}}</td>
              <td>{{gyggm.first_name}} {{gyggm.last_name}}    </td>
              <td>{{gyggm.email}}</td>
              <td>{{gyggm.phone}}</td>
              <td><img  [src]="getImage(gyggm.gym.logo)" height="50px"> </td>
              <!-- <td>
                <a class="btn btn-danger btn-sm mx-2"> <i class=" tim-icons icon-simple-delete"> </i></a>
                <a class="btn btn-primary btn-sm" routerLink="/admin/gyms/1"> <i class="icon-bullet-list-67"> </i></a>
              </td> -->
            </tr>
          
            </tbody>
          </table>
          <div class="row d-flex justify-content-end  mt-5 mb-2 mr-5">
            <pagination-template #p="paginationApi" [id]="config.id" (click)="getPage(config.currentPage)"
              (pageChange)="config.currentPage = $event">
              <div class="custom-pagination">
                <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                  <span *ngIf="!p.isFirstPage()" (click)="p.previous()">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                  </span>
                </div>
                <ul class="pager">
                  <li class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                    <span (click)="p.setCurrent(page.value)"
                      *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                    <div *ngIf="p.getCurrent() === page.value">
                      <span>{{ page.label }}</span>
                    </div>
                  </li>
                </ul>

                <div class="pagination-next" [class.disabled]="p.isLastPage()">
                  <span *ngIf="!p.isLastPage()" (click)="p.next()"> <i class="fa fa-caret-right" aria-hidden="true"></i>
                  </span>
                </div>
              </div>

            </pagination-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

