<div class=" content">
  <div class=" row">
    <div class=" col-lg-12 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Gestion de caisse</h4>
        </div>
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-md-3">
              <div class="card card-stats mb-4 mb-lg-0 bg-white">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-capitalize text-muted mb-0">Les ventes    </h5>
                      <span class="h2 font-weight-bold mb-0">{{cards?.count_subscription_profit}} DT</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="far fa-money-bill-alt"></i>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            </div>
            <div class="col-md-3">
              <div class="card card-stats mb-4 mb-lg-0 bg-white">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-capitalize text-muted mb-0">Subscriptions Acceptées</h5>
                      <span class="h2 font-weight-bold mb-0">{{cards?.count_subscription_accept}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                        <i class="fas fa-check"></i>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            </div>
            <div class="col-md-3">
              <div class="card card-stats mb-4 mb-lg-0 bg-white">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-capitalize text-muted mb-0">Subscriptions Terminées</h5>
                      <span class="h2 font-weight-bold mb-0">{{cards?.count_subscription_termine}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-red text-white rounded-circle shadow">
                        <i class="fab fa-font-awesome-flag"></i>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-stats mb-4 mb-lg-0 bg-white">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-capitalize text-muted mb-0">Subscriptions En Cours</h5>
                    <span class="h2 font-weight-bold mb-0">{{cards?.count_subscription_encours}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-clock"></i>
                        </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="mb-5">
        <h4 class="tewt-white text-weight-bold"> <i class="fas fa-search"></i> Recherche par :</h4>
        <div class="row ">
          <div class="form-group has-label text-white col-md-4"><label> Numero de Tel de l'adherent </label>
            <input type="number" placeholder=" Nom de l'adherent" class="form-control"/>
          </div>
          <div class="form-group has-label text-white  col-md-4"><label> Liste de coachs </label>
            <select class="custom-select find  text-black" (change)="changeCoachs($event.target.value)">
                      <option [value]="cc?.id" *ngFor="let cc of listCoch"> {{cc?.first_name}} {{cc?.last_name}}</option>
            </select>
          </div>
          <div class="form-group has-label text-white  col-md-4"><label> Liste des subscriptions </label>
            <select class="custom-select  find text-black"  (change)="changeOffres($event.target.value)">
                <option  [value]="of?.id" *ngFor="let of of list_subscriptions">{{of?.name}}</option>
            </select>
          </div>
        </div>
      </div>


   <div class=" card"> 
        <div class=" card-header">
          <h4 class=" card-title">Liste des abonnements</h4>
          <hr>
          <table class="table">
            <thead>
            <tr>
              <th>Id</th>
              <th>Nom de subscription</th>
              <th>Nom de l'adhrent</th>
              <th>Nom de coatch</th>
              <th>Nom d'activity</th>
              <th>Date de début</th>
              <th>Date de fin</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sub of list_subscriptions | paginate: config">
              <td>{{sub.id}}</td>
              <td>{{sub.types_subscription.name}}</td>
              <td>{{sub.adherent.first_name}} {{sub.adherent.last_name}}</td> 
              <td>{{sub.types_subscription.activity.coach.first_name}} {{sub.types_subscription.activity.coach.last_name}}</td> 
              <td>{{sub.types_subscription.activity.name}} </td>
              <td> {{getDate(sub.start_at)}}</td>
              <td> {{getDate(sub.end_at)}}</td>
              <td>
                <span class="badge"
                [ngClass]="{'badge-danger': sub.status == 'en attente' , 'badge-success': sub.is_terminated == 'accepter' , 'badge-warning': sub.is_terminated == 'pas en cours'  }">{{sub.is_terminated}}</span>
              </td>

                <td class="d-flex" *ngIf=" currentUser?.role !== 'secretary' && !currentUser.is_blocked_service">
                  <ng-toggle placement="top" ngbTooltip="Bloquer/Débloquer"
                  (change)="changeStatus(sub.id,sub.status)"
                  [(ngModel)]="sub.status"
                  [disabled]="configg.disabled"
                  [width]="configg.width"
                  [height]="configg.height"
                  [margin]="configg.margin"
                  [labels]="configg.labels"
                  [color]="configg.color"
                  [switchColor]="configg.switchColor"
                  [fontColor]="configg.fontColor"
                  [fontSize]="configg.fontSize"
                ></ng-toggle>
               
                  <button class="btn btn-info btn-sm mx-2 " (click)="open(contentt ,sub ) " > <i class="fas fa-edit"> </i>modifier </button>
                  <button class="btn btn-green btn-sm mx-2" (click)="open(content ,sub ) " > <i class="fas fa-check-circle"> </i>Effectuer</button>  
   
          
              </td>
             
            </tr>
            </tbody>
          </table>
          <div class="row d-flex justify-content-end  mt-5 mb-2 mr-5" *ngIf="list_subscriptions.length">
            <pagination-template #p="paginationApi" [id]="config.id" (click)="getPage(config.currentPage)"
              (pageChange)="config.currentPage = $event">
              <div class="custom-pagination">
                <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                  <span *ngIf="!p.isFirstPage()" (click)="p.previous()">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                  </span>
                </div>
                <ul class="pager">
                  <li class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                    <span (click)="p.setCurrent(page.value)"
                      *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                    <div *ngIf="p.getCurrent() === page.value">
                      <span>{{ page.label }}</span>
                    </div>
                  </li>
                </ul>

                <div class="pagination-next" [class.disabled]="p.isLastPage()">
                  <span *ngIf="!p.isLastPage()" (click)="p.next()"> <i class="fa fa-caret-right" aria-hidden="true"></i>
                  </span>
                </div>
              </div>

            </pagination-template>
          </div>
        </div>
      </div> 

    </div>
    </div>
  </div>
  </div>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h3 style="font-weight: bold;" class="modal-title  " id="modal-basic-title">Effectuer une offre à {{adherentEfffect?.first_name}} {{adherentEfffect?.last_name}}</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form class=" form-horizontal" [formGroup]="subForm" (ngSubmit)="effectuerOffre()">
              <div class="row">
                <div class="form-group has-label  col-md-6"><label> L'adherent </label>
                  <input  disabled type="text" [(ngModel)]="adherentName" formControlName="adherentId" placeholder="adherent" class="form-control"/>
                </div>
                <div class="form-group has-label  col-md-6"><label> Type d'offre </label>
                  <select class="custom-select   text-black" [(ngModel)]="offreId" formControlName="offreId"
                  [ngClass]="{ 'is-invalid': submitted && f.offreId.errors }"
                   >
                    <option [value]="off.id" *ngFor="let off of listOffre"> <span class="spanName">{{off.name}} </span> </option>
                  </select>
                  <div *ngIf="submitted && f.offreId.errors" class="invalid-feedback">
                    <div *ngIf="f.offreId.errors.required">Choisir un type d'offre</div>
                    </div>
                </div>

                <div class="form-group has-label  col-md-6"><label> Date de début </label>
                  <input  type="date" formControlName="start_at" placeholder="start_at" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.start_at.errors }" />
                  <div *ngIf="submitted && f.start_at.errors" class="invalid-feedback">
                    <div *ngIf="f.start_at.errors.required">Le > Date de début  est obligatoire</div>
                    </div>
                </div>
                <div class="form-group has-label  col-md-6"><label> Date de fin </label>
                  <input type="date"  formControlName="end_at" placeholder="end_at" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.end_at.errors }" />
                  <div *ngIf="submitted && f.end_at.errors" class="invalid-feedback">
                    <div *ngIf="f.end_at.errors.required">Le > Date de fin  est obligatoire</div>
                    </div>
                </div>
              </div>
            <div class="  mt-4">
              <button class=" btn btn-green btn-lg btn-block mb-3"> Effectuer </button>
            </div>
        </form>
    </div>

  </ng-template>

  <ng-template #contentt let-modal>
    <div class="modal-header">
      <h3 style="font-weight: bold;" class="modal-title  " id="modal-basic-title">modifier l'offre de {{adherentEfffect?.first_name}} {{adherentEfffect?.last_name}}</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form class=" form-horizontal" [formGroup]="subForm" (ngSubmit)="modifierOffre()">
              <div class="row">
                <div class="form-group has-label  col-md-6"><label> L'adherent </label>
                  <input  disabled type="text" [(ngModel)]="adherentName" formControlName="adherentId" placeholder="adherent" class="form-control"/>
                </div>
                <div class="form-group has-label  col-md-6"><label> Type d'offre </label>
                  <select class="custom-select   text-black" [(ngModel)]="offf.type_subscriptions_id" formControlName="offreId"
                  [ngClass]="{ 'is-invalid': submitted && f.offreId.errors }"
                   >
                    <option [value]="off.id" *ngFor="let off of listOffre"> <span class="spanName">{{off.name}} </span> </option>
                  </select>
                  <div *ngIf="submitted && f.offreId.errors" class="invalid-feedback">
                    <div *ngIf="f.offreId.errors.required">Choisir un type d'offre</div>
                    </div>
                </div>

                <div class="form-group has-label  col-md-6"><label> Date de début </label>
                  <input  type="date" formControlName="start_at"  [(ngModel)]="offf.start_at" placeholder="start_at" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.start_at.errors }" />
                  <div *ngIf="submitted && f.start_at.errors" class="invalid-feedback">
                    <div *ngIf="f.start_at.errors.required">Le > Date de début  est obligatoire</div>
                    </div>
                </div>
                <div class="form-group has-label  col-md-6"><label> Date de fin </label>
                  <input type="date"  formControlName="end_at" placeholder="end_at"   [(ngModel)]="offf.end_at"  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.end_at.errors }" />
                  <div *ngIf="submitted && f.end_at.errors" class="invalid-feedback">
                    <div *ngIf="f.end_at.errors.required">Le > Date de fin  est obligatoire</div>
                    </div>
                </div>
              </div>
            <div class="  mt-4">
              <button class=" btn btn-info btn-lg btn-block mb-3"> Modifier </button>
            </div>
        </form>
    </div>

  </ng-template>
  </div>
