<div class=" content">
  <div class=" row">
    <div class=" col-lg-12 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Liste des offers</h4>
          <hr>
          <a class="btn btn-success" style="float: right" routerLink="/manager/offers/add" *ngIf=" currentUser && currentUser?.role !== 'secretary'">Ajouter</a>
          <table class="table">
            <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Durée</th>
              <th>Prix</th>
              <th scope="col">Statut</th>
              <th>Nom d'activitée</th>
              <th>Nombre de séance</th>
              <th *ngIf=" currentUser && currentUser?.role !== 'secretary'">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let offer of ListTypeSub">
              <td>{{offer.id}}</td>
              <td>{{offer.name}}</td>
              <td>{{offer.duration}} {{getUnit(offer.unit)}}</td>
              <td>{{offer.price}}</td>
              <td><span class="badge"
                [ngClass]="{'badge-danger': !offer.status , 'badge-success': offer.status}">{{getStatus(offer.status)}}</span>
            </td>
              <td>{{offer.activity.name}}</td>
              <td>{{offer.number_of_sessions}}</td>
              <td *ngIf=" currentUser && currentUser?.role !== 'secretary'">
                <ng-toggle placement="top" ngbTooltip="Bloquer/Débloquer"
                (change)="changeStatus(offer.id,offer.status)"	
                [(ngModel)]="offer.status"
                [disabled]="configg.disabled"
                [width]="configg.width"
                [height]="configg.height"
                [margin]="configg.margin"
                [labels]="configg.labels"
                [color]="configg.color"
                [switchColor]="configg.switchColor"
                [fontColor]="configg.fontColor"
                [fontSize]="configg.fontSize"
              ></ng-toggle>
              <a *ngIf=" currentUser && currentUser?.role !== 'secretary'" placement="top" ngbTooltip="modifier" class="icon icon-shape bg-success text-white rounded-circle shadow mx-4" [routerLink]="[ '/manager/offers', offer.id ]" >
                <i class="fas fa-edit"></i>
              </a>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


