<div class=" content">
  <div class=" row">
    <div class=" col-lg-12 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Liste des offers</h4>
          <hr>
          <a class="btn btn-success" style="float: right" routerLink="/manger/offers/add">+</a>
          <table class="table">
            <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Durée</th>
              <th>Prix</th>
              <th>Nom d'activité</th>
              <th>Description</th>
              <th>Nombre de séance</th>
              <th>action</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <a class="btn btn-danger btn-sm"> <i class=" tim-icons icon-simple-delete"> </i></a>
                <a class="btn btn-primary btn-sm"> <i class=" tim-icons icon-pencil"> </i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


