<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Modifier l' employé <span class="text-capitalize">{{employUpdated?.first_name}}</span></h5>
        </div>
        <div class=" card-body">
          <form class="form" [formGroup]="employeProfile" (ngSubmit)="UpdateEmploye()">
            <div class=" row">
              <div class=" col-md-4 ">
                <div class=" form-group">
                  <label> Nom </label>
                  <input type="text" [(ngModel)]="employUpdated.first_name" formControlName="first_name" placeholder="first_name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
                  <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                    <div *ngIf="f.first_name.errors.required">Le nom est obligatoire</div>
                  </div>
                </div>
              </div>
              <div class=" col-md-4 ">
                <div class=" form-group">
                  <label> Prénom </label>
                  <input type="text" [(ngModel)]="employUpdated.last_name" formControlName="last_name" placeholder="last_name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" />
                  <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                    <div *ngIf="f.last_name.errors.required">Le prenom est obligatoire</div>
                  </div>
                </div>
              </div>
              <div class=" col-md-4 ">
                <div class=" form-group">
                  <label> Email </label>
                  <input type="email" [(ngModel)]="employUpdated.email"  formControlName="email" placeholder="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">L'email est obligatoire</div>
                    <div *ngIf="f.email.errors.email">L'email doit être une adresse e-mail valide
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4">
                <div class=" form-group">
                  <label> Address </label>
                  <input type="text" formControlName="address" [(ngModel)]="employUpdated.address" placeholder="address" class="form-control" />
                </div>
              </div>
              <div class=" col-md-4 ">
                <div class=" form-group">
                  <label> Phone </label>
                  <input type="number" formControlName="phone" [(ngModel)]="employUpdated.phone" placeholder="phone" class="form-control" />
                </div>
              </div>
              <div class=" col-md-4">
                <div class=" form-group form-password">
                  <label> le role </label>
                  <select class="custom-select  text-black" [(ngModel)]="employUpdated.role" formControlName="role" (change)="changeRole($event.target.value)"
                    [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                    <option value="coach">Coach</option>
                    <option value="secretary">Recepetionist</option>
                  </select>
                  <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                    <div *ngIf="f.role.errors.required">Le role de coatch est obligatoire</div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" row ">
              <div class=" col-md-4" *ngIf="roleEmploye === 'secretary'">
                <div class=" form-group form-password">
                  <label> le mot de passe </label>
                  <input [type]="passwordType" formControlName="password" placeholder="mot de passe" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <i class="fa" [ngClass]="passwordType === 'password' ? 'fa-eye' : 'fa-eye-slash '"
                    (click)="ShowPassword()"></i>
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Le  mot de passe est obligatoire</div>
                  </div>
                </div>
              </div>
              <div class=" col-md-8  mt-4">
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group ">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" (change)="selectFilePrevStyle($event)"
                         id="inputGroupFile01"
                          aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <img [src]="getImage(urlPhotot)" *ngIf="urlPhotot" height="50%">
                  </div>
                </div>
              </div>
            </div>
            <div class=" card-footer">
              <button class=" btn btn-fill btn-default mx-2" (click)="reset()" type="submit"
                style="float: right">Annuler</button>
              <button class=" btn btn-fill btn-warning" type="submit" style="float: right">Modifier</button>
            </div>
          </form>
        </div>
    
      </div>
    </div>
  </div>
</div>