/* You can add global styles to this file, and also import other style files */


.text-black{
    color: #000 !important;
}

.text-red{
    color: #ff0000 !important;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Parcourir" !important;
    color: #000;
}



.dropdown-item {
    color: #9A9A9A !important;
    cursor: pointer;
}